/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: x-large !important;
    font-weight: 550 !important;
    color: #244353 !important;
    text-shadow: 4px 4px #3a607317;
  }
  h2 {
    font-size: large;
  }
p {
    font-size: small;
}
  body {
    margin: 0px !important;
    font-family: sans-serif !important;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3a6073d7;
    border-radius: 14px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .ant-layout-sider-has-trigger {
    height: 95vh !important;
  }
  .ant-layout-sider-children {
    height: 95vh !important;
  }
  .ant-layout {
    min-height: 984px !important;
    background: #3a607317;
  }
  .ant-menu-dark {
    background-color: transparent !important;
  }
  .ant-layout-sider-children {   
     background-image: linear-gradient(to right, #16222A 0%, #3A6073 99%, #16222A 102%);
  }
  .ant-menu-item-selected {
    background-color: transparent !important;
    box-shadow: 4px 7px 3px #03030354;
    background-image: linear-gradient(to right, #192731bf 0%, #3a60737a 51%, #16222a52 100%);
  }
  .ant-layout-sider-trigger {
  display: none;

  }
  .ant-layout-header {
    background-color: white !important;
  }
  .ant-btn-primary:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none
  }
  .ant-btn {
    line-height: 0.571429 !important;
    border: 2px solid #3a607387 !important;
    background-color: #3a607329 !important;
    height: 40px !important;
  }
  .ant-btn-primary {
    background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%);
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 4px;
    display: block;
  }
.ant-input {
  background: #3a607329 !important;
    border: 2px solid #3a607373 !important;
    color: #3a6073 !important;
    padding: 8px 11px !important;
    border-radius: 6px !important;
}
.ant-input::placeholder {
  color: #3a60739f;
  opacity: 1; /* Firefox */
}
.ant-input-affix-wrapper {
  padding: 0px !important;
  border-width: 0px !important;
}
.app-card .ant-card-body {
  border-top: 6px solid #3a6073;
    border-radius: 8px !important;
}
.app-card-danger .ant-card-body {
  border-top: 6px solid #bc0a0a;
    border-radius: 8px !important;
}